@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin focus-outline {
  outline: dashed var(--border-width) var(--color-blue-500);
}

@mixin focus-outline-color($color) {
  @include focus-outline;
  outline-color: $color;
}
