:root {
  --color-slate-900: hsl(216, 25%, 20%);
  --color-slate-800: hsl(216, 25%, 28%);
  --color-slate-700: hsl(216, 25%, 35%);
  --color-slate-600: hsl(216, 25%, 43%);
  --color-slate-500: hsl(216, 25%, 49%);
  --color-slate-450: hsl(216, 25%, 53%);
  --color-slate-400: hsl(216, 25%, 56%);
  --color-slate-300: hsl(216, 25%, 64%);
  --color-slate-250: hsl(216, 25%, 70%);
  --color-slate-200: hsl(216, 25%, 75%);
  --color-slate-100: hsl(216, 25%, 85%);
  --color-slate-50: hsl(216, 25%, 94%);

  --color-blue-900: hsl(213, 46%, 34%);
  --color-blue-800: hsl(213, 46%, 43%);
  --color-blue-700: hsl(213, 46%, 48%);
  --color-blue-600: hsl(213, 46%, 53%);
  --color-blue-500: hsl(213, 46%, 57%);
  --color-blue-400: hsl(213, 46%, 62%);
  --color-blue-300: hsl(213, 46%, 67%);
  --color-blue-200: hsl(213, 46%, 76%);
  --color-blue-100: hsl(213, 46%, 85%);
  --color-blue-75: hsl(213, 46%, 91%);
  --color-blue-50: hsl(213, 46%, 94%);
  --color-blue-25: hsl(213, 46%, 98%);

  --color-green-900: hsl(192, 46%, 34%);
  --color-green-800: hsl(192, 46%, 43%);
  --color-green-700: hsl(192, 46%, 48%);
  --color-green-600: hsl(192, 46%, 53%);
  --color-green-500: hsl(192, 46%, 57%);
  --color-green-400: hsl(192, 46%, 62%);
  --color-green-300: hsl(192, 46%, 67%);
  --color-green-200: hsl(192, 46%, 76%);
  --color-green-100: hsl(192, 46%, 85%);
  --color-green-50: hsl(192, 46%, 94%);

  --color-red-900: hsl(350, 46%, 34%);
  --color-red-800: hsl(350, 46%, 43%);
  --color-red-700: hsl(350, 46%, 48%);
  --color-red-600: hsl(350, 46%, 53%);
  --color-red-500: hsl(350, 46%, 57%);
  --color-red-400: hsl(350, 46%, 62%);
  --color-red-300: hsl(350, 46%, 67%);
  --color-red-200: hsl(350, 46%, 76%);
  --color-red-100: hsl(350, 46%, 85%);
  --color-red-50: hsl(350, 46%, 94%);

  --color-disabled-500: var(--color-slate-500);
  --color-disabled-450: var(--color-slate-450);
  --color-disabled-400: var(--color-slate-400);
  --color-disabled-300: var(--color-slate-300);
  --color-disabled-250: var(--color-slate-250);
  --color-disabled-200: var(--color-slate-200);
  --color-disabled-050: var(--color-slate-50);

  --color-text: var(--color-slate-500);
  --color-text-alt: var(--color-blue-25);

  --font-size-xm: 0.875rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.5rem;
  --font-size-lg: 2rem;
  --font-size-xl: 2.25rem;

  --border-width-thin: 0.0625rem;
  --border-width: 0.125rem;
  --border-width-thick: 0.1875rem;

  --border-radius: 0.25rem;

  --transition-duration: 0.25s;
  --transition-duration-slow: calc(var(--transition-duration) * 2);
}
