:root {
    // Variables

    --color-primary-400: hsl(215, 38%, 90%);
    --color-primary-450: hsl(215, 38%, 95%);
    --color-primary-500: hsl(215, 0%, 100%);

    --color-secondary-500: hsl(215, 7%, 35%);
    --color-secondary-600: hsl(215, 7%, 50%);

    --color-accent-400: hsl(215, 47%, 40%);
    --color-accent-450: hsl(215, 47%, 46%);
    --color-accent-500: hsl(215, 47%, 52%);

    // Constants

    --font-family-primary: 'Roboto', sans-serif;
    --font-family-secondary: 'PermanentMarker';

    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 2rem;

    --color-text-primary: var(--color-secondary-500);

    --color-icon: var(--color-secondary-500);

    --color-disabled-primary: var(--color-secondary-600);
    --color-disabled-secondary: var(--color-primary-500);

    --border-width-normal: 0.125rem;
    --border-width-thin: calc(var(--border-width-normal) / 2);

    --border-radius: 0.25rem;

    --transition-duration-fast: 0.1s;
    --transition-duration-normal: 0.2s;
    --transition-duration-slow: 0.4s;

    --outline: solid var(--color-accent-500) var(--border-width-normal);
}
