.app {
    &__wrapper {
        max-width: 30rem;
        margin: 0 auto;
        padding: 0.5rem;

        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__title {
        font-family: var(--font-family-secondary);
        font-size: var(--font-size-lg);
        color: var(--color-accent-500);
        text-transform: none;
        padding-inline-start: 0.25rem;
        font-weight: 400;
    }

    &__divider {
        height: var(--border-width-normal);
        background-color: var(--color-secondary-500);
    }

    &__main {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__section {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        &-title {
            font-size: var(--font-size-md);
            padding-inline-start: 0.25rem;
        }
    }
}
