.wrapper {
    --app-spacing: 0.75rem;

    height: 100dvh;
    max-width: 60rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--app-spacing);
    overflow: hidden;

    @supports not (height: 100dvh) {
        height: 100vh;
    }
}

.main {
    padding: var(--app-spacing) 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 15rem 1fr;
    grid-template-rows: auto 1fr auto auto;
    gap: var(--app-spacing);
    justify-content: center;
    overflow: hidden;
}

.sidebar {
    width: 14.25rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: var(--app-spacing);
}

@media (max-width: 47em) {
    .main {
        grid-template-columns: repeat(2, minmax(14rem, 15rem));
        grid-template-rows: auto auto 1fr auto;
    }
}

@media (max-width: 30em) {
    .wrapper {
        --app-spacing: 0.5rem;
    }

    .main {
        grid-template-columns: 1fr;
    }
}
