$header-height: 4rem;
$footer-height: 2.75rem;
$gap: 0.5rem;

.app {
  max-width: 80rem;
  width: 100%;
  padding: 0.75rem;
  height: 100%;
  margin: 0 auto;
}

.app,
.main {
  display: grid;
  grid-template-columns: 15rem 1fr 15rem;
  grid-template-rows: $header-height 1fr auto $footer-height;
  gap: $gap;
}

.header {
  grid-row: 1/2;
  grid-column: 1/2;
  z-index: 2;
}

.footer {
  grid-column: -2/-1;
  grid-row: -2/-1;
  z-index: 2;
  text-align: center;
  font-size: var(--font-size-sm);
}

.githubLink {
  &:focus-visible {
    padding: 0 0.125rem;
  }
}

.title {
  color: var(--color-blue-500);
  text-shadow: 0 var(--border-width-thick) 0 var(--color-blue-200);
  font-size: var(--font-size-xl);
  text-align: center;
  user-select: none;
  line-height: 1;
}

.main {
  grid-row: 1/-1;
  grid-column: 1/-1;
  z-index: 1;
}
