$header-height: 4rem;

.app {
  box-sizing: border-box;
  max-width: 75rem;
  padding: 0.75rem;
  height: 100%;
  margin: 0 auto;
}

.app,
.main {
  display: grid;
  grid-template-columns: 15rem 1fr 15rem;
  grid-template-rows: $header-height 1fr auto;
  gap: 0.5rem;
}

.header {
  grid-row: 1/2;
  grid-column: 1/2;
  z-index: 2;
}

.title {
  color: var(--color-blue-500);
  text-shadow: 0 var(--border-width-thick) 0 var(--color-blue-200);
  font-size: var(--font-size-xl);
  text-align: center;
  user-select: none;
  line-height: 1;
}

.main {
  grid-row: 1/-1;
  grid-column: 1/-1;
  z-index: 1;
}
