.tooltip {
    padding: 0.25rem 0.5rem;
    max-width: 15rem;
    position: fixed;
    z-index: 10;
    background-color: var(--color-accent-025);
    font-size: var(--font-size-xm);
    border-radius: calc(var(--border-radius));
    box-shadow: var(--box-shadow);
    text-transform: none;
}
