@use '../../../styles/mixins' as m;

.button {
  --color: var(--color-text-alt);

  all: unset;
  box-sizing: border-box;
  height: var(--height);
  min-width: var(--height);
  font: inherit;
  text-transform: inherit;
  color: var(--color);
  min-width: var(--height);
  border-radius: var(--border-radius);
  cursor: pointer;

  svg {
    height: 100%;
    width: auto;
  }

  path {
    stroke: var(--color);
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: var(--padding);
    background-color: var(--background);
    border-radius: inherit;
    pointer-events: none;
    user-select: none;
  }

  &:not(:disabled) {
    &:hover {
      .content {
        background-color: var(--background-hover);
      }
    }

    &:active {
      .content {
        background-color: var(--background-active);
      }

      &.button3d {
        padding-top: calc(var(--border-width-thick) - var(--border-width-thin));

        .content {
          border-bottom-width: var(--border-width-thin);
        }
      }
    }

    &:focus-visible {
      @include m.focus-outline-color(var(--background));

      &.buttonLight {
        outline-color: var(--color-blue-500);
      }
    }
  }

  &:disabled {
    --background: var(--color-disabled-300);
    --border-color: var(--color-disabled-500);
    --color: var(--color-text-alt);

    cursor: not-allowed;
  }

  &Light {
    --background: var(--color-blue-50);
    --background-hover: var(--color-blue-75);
    --background-active: var(--color-blue-100);
    --border-color: var(--color-blue-200);
    --color: var(--color-slate-400);
  }

  &Blue {
    --background: var(--color-blue-500);
    --background-hover: var(--color-blue-600);
    --background-active: var(--color-blue-700);
    --border-color: var(--color-blue-800);
  }

  &Red {
    --background: var(--color-red-500);
    --background-hover: var(--color-red-600);
    --background-active: var(--color-red-700);
    --border-color: var(--color-red-800);
  }

  &Green {
    --background: var(--color-green-500);
    --background-hover: var(--color-green-600);
    --background-active: var(--color-green-700);
    --border-color: var(--color-green-800);
  }

  &Large {
    --height: 2rem;

    font-size: var(--font-size-sm);

    .content {
      padding: 0 0.5rem;
    }
  }

  &Medium {
    --height: 1.5rem;

    font-size: var(--font-size-xm);

    .content {
      padding: 0 0.25rem;
    }
  }

  &Small {
    --height: 1.125rem;

    font-size: var(--font-size-xm);
    border-radius: 0.15rem;

    .content {
      padding: 0 0.125rem;
    }
  }

  &3d {
    min-width: calc(var(--height) - (var(--border-width-thick) - var(--border-width-thin)));

    .content {
      border: solid var(--border-width-thin) var(--border-color);
      border-bottom-width: var(--border-width-thick);
    }
  }

  &Square {
    border-radius: 0;
  }

  &Icon {
    .content {
      padding: 0;
    }
  }
}
