$button-pressed-padding-top: calc(var(--border-width-thick) - var(--border-width-thin));
$button-width-min: calc(var(--button-height) - $button-pressed-padding-top);

.button {
  --button-height: 2rem;

  --button-content-color: var(--color-blue-500);
  --button-content-color-hover: var(--color-blue-600);
  --button-content-color-border: var(--color-blue-800);

  all: unset;
  box-sizing: border-box;
  height: var(--button-height);
  min-width: $button-width-min;
  font-size: var(--font-size-sm);

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      .content {
        background-color: var(--button-content-color-hover);
      }
    }

    &:active {
      @extend .buttonPressed;
    }
  }

  &:disabled {
    .content {
      background-color: var(--color-disabled-300);
      border-color: var(--color-disabled-500);
    }
  }

  &Mini {
    --button-height: 1.5rem;
    font-size: var(--font-size-xm);
  }

  &Icon {
    .content {
      padding: 0;
    }
  }

  &Pressed {
    padding-top: $button-pressed-padding-top;

    .content {
      border-bottom-width: var(--border-width-thin);
    }
  }
}

.content {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 0.5rem;
  border: solid var(--border-width-thin) var(--button-content-color-border);
  border-bottom-width: var(--border-width-thick);
  border-radius: var(--border-radius);
  background-color: var(--color-blue-500);
  color: var(--color-text-alt);
  pointer-events: none;
  user-select: none;

  svg {
    height: 100%;
    width: auto;
  }

  path {
    stroke: var(--color-text-alt);
    stroke-width: 2;
  }
}
