.actions {
    margin: 0;
    list-style: none;
    z-index: 4;
    grid-column: 1/6;
    grid-row: -2/-1;
    display: flex;

    &Divider {
        margin: 0 0.25rem;
    }

    li {
        flex-shrink: 0;
        display: flex;

        &:first-of-type {
            flex-grow: 1;
        }

        &:nth-of-type(2) {
            margin-right: 0.25rem;
        }

        &:last-of-type {
            flex-grow: 1;
            display: flex;
            justify-content: end;
        }
    }

    button svg {
        height: 100%;
    }
}
