.actions {
    margin: 0;
    list-style: none;
    z-index: 4;
    grid-column: 1/6;
    grid-row: -2/-1;
    display: flex;
    gap: 0.25rem;
    justify-content: space-between;

    &Divider {
        margin: 0 0.25rem;
    }

    li {
        flex-shrink: 0;
        display: flex;

        &:first-of-type {
            flex-grow: 1;
        }
    }

    button svg {
        height: 100%;
    }
}
