.divider {
  width: 100%;
  height: var(--border-width-thin);
  margin: 0.5rem 0;
  background-color: var(--color-blue-200);
  flex-shrink: 0;

  &Vertical {
    height: 100%;
    width: var(--border-width-thin);
    margin: 0 0.5rem;
  }
}
