.divider {
    height: var(--border-width-thin);
    width: 100%;
    background-color: var(--color-accent-200);
    flex-shrink: 0;

    &:not(.disableMargin) {
        margin: 0.5rem 0;
    }

    &.vertical {
        width: var(--border-width-thin);
        height: 100%;

        &:not(.disableMargin) {
            margin: 0 0.5rem;
        }
    }
}
