.transcoder {
    position: relative;
    flex-grow: 1;
    display: grid;
    grid-template-columns:
        var(--border-radius) calc(0.75rem + var(--border-width)) auto 1fr repeat(4, auto)
        calc(0.75rem + var(--border-width)) var(--border-radius) calc(0.5rem - var(--border-radius))
        calc(2rem + var(--border-width)) var(--border-radius);
    grid-template-rows: 2.25rem 1fr 2.25rem;

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        right: calc(var(--border-radius) + var(--border-width));
        width: calc(2.5rem - var(--border-width));
        height: 2.25rem;
        z-index: 2;
    }

    &::before {
        top: 0;
        background: linear-gradient(180deg, var(--color-accent-050) 85%, transparent 100%);
    }

    &::after {
        bottom: 0;
        background: linear-gradient(0deg, var(--color-accent-050) 85%, transparent 100%);
    }
}

.header {
    z-index: 4;
    grid-column: 1/-4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: subgrid;
    column-gap: 0.5rem;
    place-items: center;

    font-size: var(--font-size-xm);

    > * {
        $edge-padding: calc(0.25rem + var(--border-width-thin));

        &:first-child {
            padding-left: $edge-padding;
            grid-column: 3/4;
        }

        &:last-child {
            padding-right: $edge-padding;
        }
    }
}

.list {
    position: relative;
    z-index: 1;
    grid-column: 1/-1;
    grid-row: 1/-1;
    display: grid;
    grid-template-columns: subgrid;
    overflow-y: scroll;
    scrollbar-width: none;
}

.footer {
    z-index: 4;
    grid-column: 1/-4;
    grid-row: -2/-1;
    display: flex;
    justify-content: space-between;
    gap: 0.25rem;

    menu {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &Group {
        display: flex;
        gap: 0.25rem;
    }
}

.addFiles {
    display: flex;
    gap: 0.25rem;

    &:has(input[type='file']:disabled) {
        .fileCount {
            background-color: var(--color-disabled-250);
            border-color: var(--color-disabled-450);
        }
    }
}

.fileCount {
    min-width: 3.4375rem;
    height: 1.5rem;
    padding: 0 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-accent-400);
    border: solid var(--border-width-thin) var(--color-accent-700);
    border-radius: var(--border-radius);

    span {
        font-size: var(--font-size-xm);
        color: var(--color-text-alt);
    }
}

.status {
    --color-icon: var(--color-accent-200);

    width: 4.5rem;
    height: 4.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: top left;

    svg {
        width: 100%;
        height: auto;
    }

    &.loading {
        width: 4rem;
        height: 4rem;

        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        &:global {
            animation-name: rotate;
        }
    }

    &.ready {
        svg {
            stroke-width: 1.225;
        }
    }

    &.error {
        width: 4rem;
        height: 4rem;
    }
}

.outline {
    position: relative;
    grid-column: 2/-5;
    grid-row: 1/-1;
    border: dashed var(--color-accent-200) var(--border-width);
    border-radius: var(--border-radius);
    pointer-events: none;
    z-index: 1;

    &Right {
        grid-row: 1/-1;
        grid-column: -3/-2;
        border-right: dashed var(--color-accent-200) var(--border-width);
        pointer-events: none;
        z-index: 1;
    }
}
