.transcoder {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    grid-row: 1/-1;
    grid-column: 2/3;
    display: grid;
    grid-template-columns:
        var(--border-radius) var(--border-width) 1fr var(--border-width) var(--border-radius)
        2.25rem var(--border-width);
    grid-template-rows: 2.25rem 1fr 2.25rem;

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        right: calc(var(--border-radius) + var(--border-width));
        width: 1.75rem;
        height: 2.25rem;
        right: 0.5rem;
        z-index: 2;
    }

    &::before {
        top: 0;
        background: linear-gradient(180deg, var(--color-accent-050) 85%, transparent 100%);
    }

    &::after {
        bottom: 0;
        background: linear-gradient(0deg, var(--color-accent-050) 85%, transparent 100%);
    }
}

.header {
    $header-padding: calc(0.75rem + var(--border-width) + var(--border-radius) + 0.5rem);

    z-index: 4;
    display: grid;
    place-items: center;
    grid-column: 1/6;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr auto auto;
    column-gap: 0.5rem;
    padding-left: $header-padding;
    padding-right: $header-padding;
    place-items: center;
}

.list {
    position: relative;
    z-index: 1;
    overflow-y: scroll;
    scrollbar-width: none;
    grid-column: 3/-2;
    grid-row: 1/-1;
    display: grid;
    grid-template-columns: 1fr calc(var(--border-width) + var(--border-radius)) 2.25rem;
}

.status {
    --color-icon: var(--color-accent-200);

    width: 4.5rem;
    height: 4.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: top left;

    svg {
        width: 100%;
        height: auto;
    }

    &.loading {
        width: 4rem;
        height: 4rem;

        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        &:global {
            animation-name: rotate;
        }
    }

    &.ready {
        svg {
            stroke-width: 1.225;
        }
    }

    &.error {
        width: 4rem;
        height: 4rem;
    }
}

.outline {
    position: relative;
    border: dashed var(--color-accent-200) var(--border-width);
    border-radius: var(--border-radius);
    pointer-events: none;
    z-index: 1;
    grid-column: 2/5;
    grid-row: 1/-1;
}

.outlineRight {
    border-right: dashed var(--color-accent-200) var(--border-width);
    pointer-events: none;
    z-index: 1;
    grid-row: 1/-1;
    grid-column: -2/-1;
}

@media (max-width: 47em) {
    .transcoder {
        grid-row: 3/4;
        grid-column: 1/3;
    }
}

@media (max-width: 30em) {
    .transcoder {
        grid-column: 1/2;
    }
}
