@use '../../../styles/mixins' as m;

.link {
  color: var(--color-blue-400);

  &::selection {
    text-decoration-color: white;
  }

  &:hover {
    color: var(--color-blue-500);
  }

  &:active {
    color: var(--color-blue-600);
  }

  &:focus-visible {
    @include m.focus-outline;
  }
}
