.link {
    display: inline;
    color: var(--color-accent-400);

    transition-duration: var(--transition-duration);
    transition-property: color;

    @media (hover: hover) {
        &:hover {
            color: var(--color-accent-500);
        }
    }

    &:active {
        color: var(--color-accent-600);
    }
}
