.droparea {
  --accent-color: var(--color-blue-300);

  z-index: 0;
  position: relative;
  border: dashed var(--border-width) var(--accent-color);
  background-color: var(--color-blue-25);

  &::before {
    $background-color: hsl(from var(--accent-color) h s l / 0.5);

    content: '';
    z-index: -1;
    position: absolute;
    inset: 0;
    opacity: 0;
    background: repeating-linear-gradient(
      -45deg,
      transparent 0,
      transparent 0.3rem,
      $background-color 0.3rem,
      $background-color 0.6rem
    );
  }

  &Valid {
    --accent-color: var(--color-green-300);

    &::before {
      opacity: 1;
    }
  }

  &Invalid {
    --accent-color: var(--color-red-300);

    &::before {
      opacity: 1;
    }
  }

  &Disabled {
    --accent-color: var(--color-disabled-300);
  }

  &Clickable:not(.dropareaDisabled) {
    cursor: pointer;

    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }
}
