.outputSettings {
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-color: var(--color-blue-500) transparent;
  scrollbar-width: none;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1;
}

.stringItem {
  display: flex;
  flex-direction: column;
  gap: 0.175rem;
}

.booleanItem,
.remember {
  display: inline-flex;

  label {
    padding-left: 0.25rem;
    line-height: 1.125rem;
  }
}

.restore {
  margin-top: 0.5rem;
  flex-shrink: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  flex-grow: 1;
}
