.settingsPanel {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.mainContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
