.card {
  padding: 0.75rem;
  border-radius: var(--border-radius);
  background-color: var(--color-blue-25);
  border: solid var(--border-width-thin) var(--color-blue-200);
  border-bottom-width: var(--border-width-thick);
}
