@use '../../styles/mixins' as m;

.converter {
  position: relative;
  grid-row: 1/-1;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.uploader {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.droparea {
  flex-grow: 1;
  border-radius: var(--border-radius);

  &:has(.fileInputWrapper:hover) {
    &::before {
      opacity: 0;
    }
  }
}

.fileInputWrapper {
  $position: calc(-1 * var(--border-width));
  $border: dashed var(--border-width) var(--accent-color);

  position: absolute;
  left: $position;
  bottom: $position;
  background-color: var(--color-blue-25);
  padding: 0.25rem 0.25rem 0 0;
  border-top: $border;
  border-right: $border;
  border-top-right-radius: var(--border-radius);
  cursor: default;
}

.fileInput {
  cursor: pointer;
}

.fileCount {
  position: absolute;
  padding: 0.25rem;
  right: 0;
  top: 0;
  font-size: var(--font-size-sm);
  color: var(--accent-color);
  background-color: var(--color-blue-25);
  pointer-events: none;
  border-bottom-left-radius: var(--border-radius);
}
