@use '../../styles/mixins' as m;

$droparea-border: dashed var(--border-width) var(--accent-color);

.uploader {
  --accent-color: var(--color-blue-300);

  grid-row: 1/-1;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  &:has(.dropareaValid.dropareaDraggingOver) {
    --accent-color: var(--color-green-300);
  }

  &:has(.dropareaInvalid.dropareaDraggingOver) {
    --accent-color: var(--color-red-300);
  }

  &:has(.dropareaDisabled:hover) {
    --accent-color: var(--color-red-300);
  }
}

.fileTable {
  &:has(.fileTableBody:empty) {
    display: none;
  }
}

.droparea {
  height: 100%;
  z-index: 0;
  position: relative;
  border: $droparea-border;
  overflow: hidden;
  cursor: pointer;

  + .fileInput {
    display: none;
  }

  &::before {
    $background-color: hsl(from var(--accent-color) h s l / 0.5);

    content: '';
    z-index: -1;
    position: absolute;
    height: 200%;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    background: repeating-linear-gradient(
      -45deg,
      transparent 0,
      transparent 0.3rem,
      $background-color 0.3rem,
      $background-color 0.6rem
    );
  }

  &Disabled {
    cursor: not-allowed;
  }

  &DraggingOver,
  &:hover {
    &::before {
      opacity: 1;
    }
  }

  &DraggingOver {
    &.dropareaValid {
      &::before {
        animation-name: move-down;
        animation-duration: 15s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;

        @keyframes move-down {
          from {
            transform: translateY(0%);
          }
          to {
            transform: translateY(50%);
          }
        }
      }
    }
  }
}

.dropareaWrapper {
  flex-grow: 1;
  position: relative;
}

.addFiles {
  z-index: 0;
  position: absolute;
  left: 0;
  bottom: 0;

  + .fileInput {
    @include m.visually-hidden;
  }

  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    box-sizing: content-box;
    left: 0;
    bottom: 0;
    width: calc(100% + 0.25rem);
    height: calc(100% + 0.25rem);
    border-top: $droparea-border;
    border-right: $droparea-border;
    border-top-right-radius: var(--border-radius);
    background-color: var(--color-blue-25);
  }

  &:has(+ .fileInput:focus-visible) {
    @include m.focus-outline;
  }
}

.fileCount {
  position: absolute;
  right: var(--border-width);
  top: var(--border-width);
  background-color: var(--color-blue-25);
  padding: 0.25rem;
  border-bottom-left-radius: var(--border-radius);
  pointer-events: none;
  font-size: var(--font-size-sm);
  color: var(--accent-color);

  &::selection {
    background-color: var(--accent-color);
  }
}
