@use './styles/modern-normalize';
@use './styles/reset';
@use './styles/fonts';
@use './styles/theme';

html {
  font-family: 'Roboto', 'Roboto-fallback', sans-serif;
  background-color: var(--color-blue-50);
  text-transform: uppercase;
  color: var(--color-text);
}

body {
  font-size: var(--font-size-xm);
  font-weight: 500;
}

#root {
  height: 100dvh;

  @supports not (height: 100dvh) {
    height: 100vh;
  }
}

* {
  &::selection {
    color: var(--color-text-alt);
    background-color: var(--color-blue-500);
  }
}
