@use './scss/modern-normalize';
@use './scss/fonts';
@use './scss/theme';
@use './scss/animations';
@use './scss/utils';

body {
    min-height: 100vh;
    background-color: var(--color-accent-050);
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 500;
    text-transform: uppercase;

    @supports (min-height: 100dvh) {
        min-height: 100dvh;
    }
}

* {
    &::selection {
        color: var(--color-text-alt);
        background-color: var(--color-accent-400);
    }
}

* {
    margin: 0;
    padding: 0;
    line-height: var(--line-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: 1;
}

ul {
    list-style: none;
}
