@font-face {
    font-family: 'Roboto';
    src:
        url('./assets/fonts/roboto/Roboto-Regular.woff2') format('woff2'),
        url('./assets/fonts/roboto/Roboto-Regular.woff') format('woff'),
        url('./assets/fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src:
        url('./assets/fonts/roboto/Roboto-Medium.woff2') format('woff2'),
        url('./assets/fonts/roboto/Roboto-Medium.woff') format('woff'),
        url('./assets/fonts/roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src:
        url('./assets/fonts/roboto/Roboto-SemiBold.woff2') format('woff2'),
        url('./assets/fonts/roboto/Roboto-SemiBold.woff') format('woff'),
        url('./assets/fonts/roboto/Roboto-SemiBold.ttf') format('truetype');
    font-weight: 600;
}
