.fileInput {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    gap: 0.25rem;

    input[type='file'] {
        width: 100%;
        height: 100%;
    }
}

.browse {
    &:has(+ input[type='file']:focus-visible) {
        outline: var(--outline-focus);
        outline-offset: var(--outline-focus-offset);
    }
}
