.actions {
    position: relative;
    z-index: 1;

    grid-row: -2/-1;
    grid-column: 1/2;

    display: flex;
    justify-content: space-between;
    gap: 0.25rem;
}

.group {
    display: flex;
    justify-content: space-between;
    gap: 0.25rem;
}

.count {
    align-self: center;
    font-size: var(--font-size-xm);
}
