.settings {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.title {
    padding: 0 0.25rem;
    text-align: center;
}

.settingList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
}

.restoreDefaults {
    margin-top: 0.5rem;
    flex-shrink: 0;
}
